<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tinkerforge -->
      <package
            uri="org.m1theo.tinkerforge.emf.internal.model"
            class="org.m1theo.tinkerforge.emf.internal.model.ModelPackage"
            genModel="src/main/resources/tinkerforge.xcore"/>
   </extension>

</plugin>
